.c_introductie {
  margin: 40px 0;
}

/**
 *  Header
 */
.c_introductie .header_block {
  margin-bottom: 20px;
  padding: 40px 40px 10px;
  width: 100%;
  background: #dff1fe;
}

/**
 *  Movie items
 */
.c_introductie .movie_tiles {
  display: flex;
  margin: 0 -20px 20px -20px;
  width: calc(100% + 40px);
}

.c_introductie .movie_tiles__movie_item {
  margin: 20px;
  height: 200px;
  width: 33%;
  background: gray;
  overflow: hidden;
  position: relative;
}

.c_introductie .movie_tiles__movie_item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
}

.c_introductie .movie_tiles__movie_item__overlay:hover img {
  height: 50%;
}

.c_introductie .movie_tiles__movie_item__overlay__play-icon {
  height: 50%;
}

.c_introductie .movie_tiles__movie_item__overlay__title {
  margin-bottom: -50%;
  transition: margin 0.3s;
}

.c_introductie
  .movie_tiles__movie_item__overlay:hover
  .movie_tiles__movie_item__overlay__title {
  margin: 0;
}

.c_introductie .movie_tiles__movie_item__overlay__play-icon img {
  height: 100%;
  transition: height 0.3s;
}

.c_introductie .movie_tiles__movie_item__backdrop {
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: transform 0.7s, height 0.7s, width 0.7s;
}

.c_introductie
  .movie_tiles__movie_item:hover
  .movie_tiles__movie_item__backdrop {
  height: 110%;
  width: 110%;
  transform: translate(-3%, -5%);
}

@media screen and (max-width: 768px) {
  .c_introductie .movie_tiles {
    flex-direction: column;
    width: 100%;
  }

  .c_introductie .movie_tiles__movie_item {
    width: 100%;
  }

  .c_introductie .movie_tiles__movie_item__overlay__title {
    margin: 0;
    opacity: 0.85;
    font-weight: 400;
    text-shadow: 2px 2px 10px black;
  }
}
