/**
 *  Arguments
 */
.c_arguments_against .arguments__header {
  display: flex;
  margin-bottom: 40px;
}

.c_arguments_against .arguments__header__title {
  margin-top: 25px !important;
  margin-left: 25px;
}

.c_arguments_against .arguments__item {
  display: flex;
  margin: 10px;
}

.c_arguments_against .arguments__item__icon {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  margin: 20px;
}

.c_arguments_against .arguments__item__text {
  margin-left: 20px;
}

.c_arguments_against .arguments__item__text h4 {
  margin: 0 0 5px !important;
  font-size: 20px !important;
}

@media screen and (max-width: 768px) {
  .c_arguments_against .arguments__item__icon,
  .c_arguments_against .arguments__item {
    margin: 0;
  }
}
